mixin intro()
  section.intro
    .container
      p.intro__heading Ёжики
      p.intro__text.intro__text--big Тоже любят молоко
      p.intro__text Заведите себе ёжика. Он всегда выслушает, не будет мяукать в 5 утра и царапать вашу мебель.
      +btn({tag: "a", href: "#", text: "Купить ежика"})
