mixin order()
  -
    const countList = [
      {
        text: "Мне нужен 1-2 ёжика",
        value: "1-2",
        checked: true
      },
      {
        text: "Мне нужны 3 и более ёжиков",
      },
      {
        text: "Мне нужны 3-4 ёжика",
        value: "3-4",
      },
      {
        text: "Пока присматриваюсь",
        value: "?",
      },
    ]

    const contactsList = [
      {
        name: "name",
        type: "text",
        placeholder: "Ваше имя",
      },
      {
        name: "phone",
        type: "tel",
        placeholder: "Ваш телефон",
      },
      {
        name: "email",
        type: "email",
        placeholder: "Ваш e-mail",
      },
    ]

  section.order
    .container.order__wrapper
      form(method="POST" action="https://echo.htmlacademy.ru")
        h2.order__title Заполните заявку и мы забронируем для Вас нового&nbsp;друга

        .order__menu
          fieldset.order__left-column
            legend.visually-hidden Какого ежика вы хотите?
            +custom-input({inputType: "checkbox", inputLabel: "хочу ёжика для себя", inputName: "self", isChecked: true}).custom-input--w-170
            +custom-input({inputType: "checkbox", inputLabel: "хочу ёжика для детей", inputName: "kind"}).custom-input--w-170
            +custom-input({inputType: "checkbox", inputLabel: "хочу ёжика для разведения", inputName: "breeding"}).custom-input--w-199


          fieldset.order__right-column
            legend.visually-hidden Сколько ежиков вы хотите?
            each item, index in countList
              +custom-input({inputType: "radio", inputLabel: item.text, inputName: "count", inputValue: item.value, isChecked: item.checked})(data-order=index)

        fieldset.order__row
          legend.visually-hidden Заполните ваши контактные данные
          each item in contactsList
            +custom-input({inputType: item.type, inputName: item.name, inputPlaceholder: item.placeholder})

        +custom-textarea({inputPlaceholder: "Комментарий к заявке"})

        +btn({tag: "button", type: "button", text: "Купить ежика"}).order__submit-button.btn--mobile-h-69

      p.order__balance
        svg(width="41" height="41")
          use(xlink:href="img/sprite_auto.svg#hedgehog_green")
        span У нас осталось еще: <span class="underline">25 ёжиков</span>
      p
        small Торопитесь! Акция действует до 26. 02. 2023


