.gallery {
  padding-top: 31px;
  padding-bottom: 40px;

  @include vp-767 {
    padding-top: 10px;
  }
}

.gallery__navigation-wrapper {
  padding: 0 67px;
  position: relative;
  max-width: 1317px;
  margin: 0 auto;
  overflow: hidden;

  @include vp-767 {
    padding: 0 0 0 21px;
  }
}

.gallery__wrapper {
  overflow: visible;
}

.gallery__list {
  margin: 0;
  padding: 10px 0;
  list-style: none;
}

.gallery__item {
  padding: 44px 326px 54px 60px;
  position: relative;
  border-radius: 20px;
  background: url("../img/bg/card-bg.png") no-repeat bottom -13px right -35px;
  height: auto;
  display: flex;
  flex-direction: column;
  min-height: 350px;
  opacity: 0;
  transition: opacity $trans-default;

  &.swiper-slide-active,
  &.swiper-slide-next {
    opacity: 1;
  }

  div:first-of-type {
    flex-grow: 1;
  }

  &:last-child {
    margin-right: 0;
  }

  &--almond {
    background-color: $color-blanched-almond;
  }

  &--green {
    background-color: $color-apple-green;
  }

  &::before {
    content: "-50 %";
    position: absolute;
    top: -6px;
    left: 63px;
    background-color: $color-blue-stone;
    color: $color-default-white;
    width: 68px;
    height: 36px;
    display: flex;
    padding-left: 5px;
    align-items: center;
    justify-content: center;

    font-family: "Raleway", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: -1px;
    border-top: 42px solid transparent;
    border-right: 42px solid $color-default-white;
    border-bottom: 42px solid $color-default-white;
    border-left: 42px solid transparent;
  }

  @include vp-767 {
    padding-right: 97px;
    padding-left: 30px;
    max-width: 244px;
    padding-top: 35px;
    padding-bottom: 20px;
    min-height: 318px;

    background-size: 182px 70px;
    background-position: bottom 25px right -45px;
    opacity: 1;

    &::before {
      font-size: 12px;
      line-height: 14px;
      width: 48px;
      height: 21px;
      left: 30px;
      top: -5px;
    }

    &::after {
      border-top: 27px solid transparent;
      border-right: 27px solid $color-default-white;
      border-bottom: 27px solid $color-default-white;
      border-left: 27px solid transparent;
    }
  }
}

.gallery__item-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin: 10px 0;
  padding: 0;

  @include vp-767 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 7px;
  }
}

.gallery__item-description {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $color-default-black;
  margin: 12px 0;
  padding: 0;
  flex-grow: 1;

  @include vp-767 {
    font-size: 11px;
    line-height: 16px;
    margin: 7px 0;
  }
}

.gallery__image-wrapper {
  position: absolute;
  top: 70px;
  bottom: 4px;
  right: 4px;
  display: flex;
  align-items: center;

  @include vp-767 {
    right: -42px;
    bottom: 0;
  }
}

.gallery__item img {
  max-width: 394px;
  max-height: 294px;

  @include vp-767 {
    max-width: 177px;
    max-height: 129px;
  }
}

.gallery__info-button {
  position: absolute;
  top: 19px;
  right: 28px;
  display: block;
  padding-bottom: 7px;

  svg {
    display: block;
  }

  &:hover~.gallery__item-info,
  &:focus~.gallery__item-info {
    display: block;
  }

  @include vp-767 {
    display: none;
  }
}

.gallery__buy-button {
  position: absolute;
  bottom: -12px;
  right: 0;
  z-index: 1;
  transition: transform $trans-default;

  svg {
    width: 40px;
    height: 40px;
  }

  @media (hover: hover),
  screen and (min-width: 0\0) {

    &:hover,
    &:focus {
      transform: scale(1.2);
    }
  }

  @include vp-767 {
    bottom: -13px;
    right: -6px;

    svg {
      width: 37px;
      height: 37px;
    }
  }
}

.gallery__item-info {
  position: absolute;
  top: 74px;
  right: -63px;
  background-color: $color-blue-stone;
  color: $color-default-white;
  padding: 34px 29px;
  z-index: 1;
  display: none;

  font-family: "Raleway", "Arial", sans-serif;
  font-feature-settings: 'pnum' on, 'lnum' on;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-transform: lowercase;

  &:hover,
  &:focus {
    display: block;
  }

  span {
    display: inline-flex;
    align-items: center;
    margin-right: 29px;
  }

  span:last-child {
    margin-right: 0;
  }

  span svg {
    order: -1;
    margin-right: 4px;
    fill: $color-default-white;
  }

  &::before {
    content: "";
    width: 30px;
    height: 18px;
    border-bottom: 9px solid $color-blue-stone;
    border-top: 9px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    top: -17px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  @include vp-767 {
    display: block;
    padding: 10px;
    right: 11px;
    top: 4px;

    background-color: transparent;
    color: $color-blue-stone;

    font-weight: 400;
    font-size: 10px;
    line-height: 16px;

    &::before {
      display: none;
    }

    span {
      margin-right: 17px;
    }

    span svg {
      width: 13px;
      height: 13px;
      fill: $color-blue-stone;
      margin-right: 1px;
      margin-bottom: 3px;
    }
  }
}

.gallery__old-price,
.gallery__price {
  display: block;
}

.gallery__old-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: line-through;
  color: $color-geyser;
  margin: 0;
  padding: 0;

  @include vp-767 {
    font-size: 20px;
    line-height: 24px;
  }
}

.gallery__price {
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;

  @include vp-767 {
    font-size: 40px;
    line-height: 45px;
  }
}

.gallery__button {
  &::after {
    content: "";
    width: 40px;
    height: 40px;
    background-size: 24px 24px;
  }

  &--prev::after {
    background: url("../img/svg/back.svg") no-repeat center;
  }

  &--next::after {
    background: url("../img/svg/next.svg") no-repeat center;
  }

  @include vp-767 {
    display: none;
  }
}
