.main-nav {
  padding: 14px 88px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin: 20px 45px;
  }

  &__item--has-child>.main-nav__link {
    position: relative;
    padding-left: 15px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
      border-left: 6px solid $color-blue-stone;
      border-top: 4px solid transparent;
      border-right: 1px solid transparent;
      border-bottom: 4px solid transparent;
      width: 8px;
      height: 6px;
      transition: transform $trans-default;
    }
  }

  &__link {
    color: $color-blue-stone;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    padding-bottom: 16px;
    padding-top: 16px;

    &.is-active {
      opacity: 0.6;
    }
  }

  &__link:hover::before,
  &__link:focus::before {
    transform: rotate(90deg);
  }

  &__link:hover~.main-nav__sub-menu,
  &__link:focus~.main-nav__sub-menu {
    display: block;
  }

  &__toggle {
    display: none;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;

    &::before {
      content: "";
      position: absolute;
      width: 25px;
      height: 2px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      background-color: $color-blue-stone;
      box-shadow: 0 6px 0 0 $color-blue-stone, 0 -6px 0 0 $color-blue-stone;
    }
  }

  &--footer {
    padding: 0;
    padding-top: 10px;

    .main-nav__link {
      color: $color-default-white;
    }
  }

  @media (hover: hover),
  screen and (min-width: 0\0) {

    &__link:hover,
    &__link:focus {
      text-decoration: underline;
    }
  }

  @include vp-1500 {
    padding: 14px 20px;

    &__item {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  @include vp-1023 {
    &__list {
      display: none;
    }


    &__toggle {
      display: block;
    }
  }
}

.main-nav__sub-menu {
  margin: 0;
  padding: 19px 24px;
  list-style: none;
  box-shadow: $shadow;
  border-radius: 8px;
  position: absolute;
  display: none;
  width: 169px;
  z-index: 1;
  background-color: $color-default-white;

  &:hover,
  &:focus {
    display: block;
  }
}

.main-nav__sub-item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}
