.page-main {

}

.page-main__bg-wrapper {
  background-image: url("../../img/bg/bg.png");
  background-repeat: no-repeat;
  background-position: bottom 47px center;
  background-size: cover;
  position: relative;

  @include retina {
    @include desk {
      background-image: url("../../img/bg/bg@2x.png");
    }
  }
}


