// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "Rouble";

//   font-display: swap;
//   src:
//     url("../fonts/rouble.woff2") format("woff2"),
//     url("../fonts/rouble.woff") format("woff");
// }

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Cormorant Infant";

  font-display: swap;
  src:
    url("../fonts/cormorantInfantbold.woff2") format("woff2"),
    url("../fonts/cormorantInfantbold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Raleway";

  font-display: swap;
  src:
    url("../fonts/ralewayregular.woff2") format("woff2"),
    url("../fonts/ralewayregular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Raleway";

  font-display: swap;
  src:
    url("../fonts/ralewaymedium.woff2") format("woff2"),
    url("../fonts/ralewaymedium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Raleway";

  font-display: swap;
  src:
    url("../fonts/ralewaybold.woff2") format("woff2"),
    url("../fonts/ralewaybold.woff") format("woff");
}
