mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "#",
        text: "Страница 2"
      },
      {
        href: "#",
        text: "Страница 3"
      },
    ]

  header.header(class=headerMods)
    +logo(currentUrl)
    .header__right-column
      nav.main-nav
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-burger", 20, 20)
        .main-nav__wrapper
          ul.main-nav__list
            li Каталог
              ul.main-nav__sub-menu
                li.main-nav__sub-item
                  a(href="#") Ёжики
                li.main-nav__sub-item
                  a(href="#") Питание
                li.main-nav__sub-item
                  a(href="#") Переноски
                li.main-nav__sub-item
                  a(href="#") Лекарства

            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active=link.text
                else
                  a.main-nav__link(href=link.href)=link.text
      a.header__phone(href="tel:+79655698998") +7 (965) 569-89-98
      a.header__cart(href="#")
        span.visually-hidden Перейти в корзину
