mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "О нас"
      },
      {
        href: "#",
        text: "Контакты"
      },
      {
        href: "#",
        text: "Галерея"
      },
    ]

  header.header(class=headerMods)
    +logo(currentUrl)
    .header__right-column
      nav.main-nav
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-burger", 20, 20)
        .main-nav__wrapper
          ul.main-nav__list
            li.main-nav__item.main-nav__item--has-child
              a.main-nav__link(href="#") Каталог
              ul.main-nav__sub-menu
                li.main-nav__sub-item
                  a.main-nav__link(href="#") Ёжики
                li.main-nav__sub-item
                  a.main-nav__link(href="#") Питание
                li.main-nav__sub-item
                  a.main-nav__link(href="#") Переноски
                li.main-nav__sub-item
                  a.main-nav__link(href="#") Лекарства

            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active=link.text
                else
                  a.main-nav__link(href=link.href)=link.text
      div.header__item
        a.header__phone(href="tel:+79655698998") +7 (965) 569-89-98
          span
            svg(width="32" height="32")
              use(xlink:href="img/sprite_auto.svg#phone")
      div.header__item
        a.header__cart(href="#")
          span.visually-hidden Перейти в корзину
          svg(width="36" height="33")
              use(xlink:href="img/sprite_auto.svg#cart")
          span.header__cart-count 1

