.logo {
  &--white .logo__image {
    fill: $color-default-white;
  }
}

.logo__image {
  width: 120px;
  height: 56px;
  fill: $color-blue-stone;

  @include vp-767 {
    width: 56px;
    height: 26px;
  }
}
